<!DOCTYPE html>
<html>
  <head>
    <title>Federal Offense: <%= message ? message.subject : "Inbox#{" (#{messages.size})" if messages.any?}" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "federal_offense/application", media: "all" %>
    <% if FederalOffense.action_cable %>
      <meta name="action-cable-url" content="<%= "#{federal_offense.messages_path}#{FederalOffense::Engine.cable_config.mount_path}" %>" />
    <% end %>
  </head>
  <body>
    <main>
      <nav>
        <ul class="nav-items">
          <li class="nav-item nav-item--logo"><%= link_to "Federal Offense", federal_offense.messages_path %></li>
          <li class="nav-item nav-item--subnav">
            <ul class="nav-items">
              <li class="nav-item">
                <% if message.present? %>
                  <%=
                    link_to(
                      t("federal_offense.destroy.one"),
                      federal_offense.destroy_message_path(message.id),
                      data: {confirm: t("federal_offense.destroy.confirm_one")},
                      method: :post,
                    )
                  %>
                <% else %>
                  <%=
                    link_to(
                      t("federal_offense.destroy.one"),
                      "#",
                      class: "nav-item-disabled",
                      disabled: true,
                    )
                  %>
                <% end %>
              </li>
              <li class="nav-item">
                <% if messages.any? %>
                  <%=
                    link_to(
                      t("federal_offense.destroy.all"),
                      federal_offense.destroy_all_messages_path,
                      data: {confirm: t("federal_offense.destroy.confirm_all")},
                      method: :post,
                    )
                  %>
                <% else %>
                  <%=
                    link_to(
                      t("federal_offense.destroy.all"),
                      "#",
                      class: "nav-item-disabled",
                      disabled: true,
                    )
                  %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <article>
        <aside>
          <ul class="messages">
            <% if messages.any? %>
              <% messages.each do |message| %>
                <li class="message message--<%= message.read? ? "read" : "unread" %><%= " message--active" if message == self.message %>">
                  <%= link_to federal_offense.message_path(message.id), class: "message-link" do %>
                    <span class="message-sender"><%= message_array(message.from) %></span>
                    <span class="message-subject"><%= message.subject %></span>
                    <span class="message-preview"><%= message.preview %></span>
                  <% end%>
                </li>
              <% end %>
            <% else %>
              <li class="message empty">
                <div class="empty-title"><%= t("federal_offense.empty.title") %></div>
                <div class="empty-subtitle"><%= t("federal_offense.empty.subtitle") %></div>
              </li>
            <% end %>
          </ul>
        </aside>
        <% if messages.any? %>
          <section>
            <%= yield %>
          </section>
        <% end %>
      </article>
    </main>
    <%= javascript_include_tag "federal_offense/application" %>
    <%= javascript_include_tag "federal_offense/cable" if FederalOffense.action_cable %>
  </body>
</html>
